
a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: red;
}

h1, h2, h3, p {
  text-align: center;
}

h1 {
  margin: 0;
padding: 1em 0 0 0;
}

h2 {
  font-weight: bold;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

p {
  font-weight: 300;
  line-height: 150%;
  margin: auto;
  max-width: 300px;
}

ul {
  padding: 0;
  margin: 0;
}



header {
    background-color: tomato;
}

.main-header,
.nav {
  display: flex;
  flex-direction: column;
}

.main-header {
  margin: 0;
  padding: 0 0 3em 0;
}

.nav li {
  text-align: center;
  display: block;
  text-transform: uppercase;
  font-weight: bold;
  background-color: white;
  margin: 1em auto 0 auto;
  width: 300px;
  padding: .5em;
}

.banner a {
  font-weight: bold;
}

.andypicture {
  width: 200px;
  border: solid black 1px;
  max-width: 100%;
  display: block;
  clear: both;
  text-align: center;
  margin: 0 auto;
  padding: 0;
}

.description {
  margin-top: 2em;
}


.portfolio {
  max-width: 1200px;
  text-align: center;
  padding: 2em 0;
  background-color: lightgreen;
  margin: auto;
}

.portfoliowrapper {
  width: 100%;
  background-color: lightgreen;
}

.skills {
  max-width: 1200px;
  text-align: center;
  padding: 2em 0;
  background-color: lightblue;
  margin: auto;
}

.skillswrapper {
  width: 100%;
  background-color: lightblue;
}

.banner {
  background-color: tomato;
  padding: 0 0 2em 0;
}

.portpicture {
  width: 300px;
  display: block;
  margin: 2em auto 2em auto;
  text-align: center;
}

.contact {
  margin: 0;
  padding: 2em 0 4em 0;
  background-color: lightgrey;
}


.contact a {
  font-weight: bold;
}

footer a {
  font-weight: bold;
  float: right;
  text-transform: uppercase;
  display: inline-block;
  padding: 2.5em;
  margin: auto;
}

.studentname {
  font-weight: bold;
  float: left;
  display: inline-block;
  padding: 2.5em;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  min-width: 300px;
}





@media (min-width: 769px){

.main-header {
  justify-content: flex-end;
  margin: auto;
  padding: 0;
}

.name {
  margin-bottom: 1em;
}

.nav {
  flex-direction: row;
  justify-content: space-between;
  margin-right: 2.5em;
}

.banner {
  margin: auto;
  padding: 2em;
  max-width: 769px;

}

.banner2 {
  background-color: tomato;
}

.description {
  display: inline-block;
  margin: auto;
  padding: 0 0 0 2.5em;
  text-align: left;
  width: 100%;
}


.nav li {
  text-align: center;
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold;
  background-color: rgba(0,0,0,0.0);
  margin: auto;
  width: 100px;
}

.andypicture {
  width: 300px;
  border: solid black 1px;
  max-width: 100%;
  display: inline;
  clear: both;
  float: right;
  text-align: center;
  margin: 0 2.5em 0 0;
}


.portfolio {
  width: 100%;
  text-align: center;
  margin: auto;
  background-color: lightgreen;
}


.primary {
  display: inline-block;
  margin: auto;
  padding: 0 2em 0 0;
}

.secondary {
  display: inline-block;
  margin: auto;
  padding: 0 0 0 2em;
}

.contact {
  display: block;
  clear: both;
}

.portfolio p {
  font-weight: 300;
  line-height: 150%;
  margin: auto;
  max-width: 300px;

}

.contact p {
  font-weight: 300;
  line-height: 150%;
  margin: auto;
  max-width: 400px;

}

}

/*  .nav li {
    text-align: center;
    float: left;
    display: inline
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 auto;
    overflow: auto;
  }

.name{

}

.banner p {
  text-align: left;
  margin: 2em;
}

.andypicture {
  float: right;
  margin: 0 2em 0 2em;
  width: 300px;
}

.clearfix {
  overflow: auto;
}

.main-header {
  margin: 0;
  padding:0;
  overflow:auto;
}

h1 {
  color: red;
  overflow: auto;
}

}

*/
@media (min-width: 1005px){


.main-header {
  flex-direction: row;
}
.name {
  margin-right: auto;
  padding-left: 2.5em;
}

.banner {
  overflow: hidden;
}

.andypicture {
  width: 350px;
  margin: 0 2.5em 0 0;
  display: inline-block;
  float: right;
}

.description {
  float: left;
  display: inline-block;
}

.nav {
  align-self: center;
}

.nav li {
  margin-left: .65em;
  margin-right: .65em;
}


.primary {
  display: inline-block;
  margin: 0;
  padding: 1em;
}

.portpicture {
  width: 300px;
  display: inline-block;
  margin: 0;
  text-align: center;
}
.secondary {
  display: inline-block;
  margin: 0;
  padding: 1em;
}
.contact p {
font-weight: 300;
line-height: 150%;
margin: auto;
max-width: 500px;
}

}
